# Overview
In the last step, we analyzed our data and found a few issues with some of the columns. Before we start training our machine learning models, we should fix up these issues.

In [4]:
import sklearn
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from matplotlib import rcParams
%matplotlib inline

import seaborn as sns
sns.set()

In [5]:
df = pd.read_csv("diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

## Data Cleanup
No dataset is perfect. When you look at some of our features, you might notice that not everything makes sense. For example, if you look at the minimum of some of these columns, you notice that some patients have a BMI and blood pressure of 0. Does that sound right?

Chances are these are **missing values**: those patients don't really have a BMI of 0, but maybe the researchers didn't collect those patient's BMI and so just put 0 in as a subsitute. 
You might also see these as "NaN", meaning "not a number", but in this case they were assigned a value of 0.

## Questions to discuss
- Why might these values be missing?
- Does every column with a "0" mean that that's a missing value?
- What are some potential problems of building a classifier with missing values?
- What should we do about them?

### TODO
Impute the missing values by finding the mean of the columns.
- Specify which columns have missing values. Save this to a list called `cols_with_missing_vals`
- Loop through these columns in the DataFrame
- For each column, filter to rows where the value is not **0**. We don't want the 0's to artificially lower the mean
- Replace the 0's with the imputed value by using the `.replace()` method of the column

In [6]:
cols_with_missing_vals = ["Glucose", "BloodPressure", "SkinThickness", "Insulin", "BMI"]

In [7]:
for col in cols_with_missing_vals:
    no_missing = df[df[col] != 0] 
    imputed_value = no_missing[col].mean()
    df[col] = df[col].replace(0, imputed_value)

In [8]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,121.686763,72.405184,29.153420,155.548223,32.457464,0.471876,33.240885,0.348958
std,3.369578,30.435949,12.096346,8.790942,85.021108,6.875151,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.750000,64.000000,25.000000,121.500000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.202592,29.153420,155.548223,32.400000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,155.548223,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

# Labels and features
Next, we need to separate our data into two separate variables. The first are the **features** and the second are called labels.

## Features
The **"features"** in a dataset are the information collected for each data point. This is the data which we'll provide to our model to learn from. The features are also known as the *independent variables*.
### Discussion
Which column(s) the **features** of our dataset?

## Labels
The **label** signifies what **class** each row belongs to. This is also known as the *dependent variable* In our task, **"1"** means that the patient has diabetes (positive class), while a **"0"** means that the patient does not have diabetes (negative class). This is contained in the "**Outcome**" column.

By convention, the features are usually called **`X`**, while the labels are called **`y`**.

### TODO
Split out DataFrame up into two variables, `X` and `y`.

In [9]:
X = df.drop(["Outcome"], axis=1)
y = df["Outcome"]

In [10]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33

In [11]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

# Test-Train Split
We'll also split up our dataset into a *train* and *test* set. Our ultimate goal is to be able to predict whether a set of brand-new patients has diabetes. These new patients have never been seen before by our classifier. 

A common practice in machine learning development is to take a portion of our data and leave those rows out during training, then we'll see how our classifiers perform on these rows.

https://en.wikipedia.org/wiki/Training,_validation,_and_test_sets

## Questions to discuss
- Why is it important  to evaluate on testing data that is separate from our training data?
- How should you select the data that you'll leave out for testing?
- What are the costs of taking out data for testing?
- What proportions should be used for testing and training?

### TODO
- Split up X and y in to corresponding train and test sets using the `train_test_split` method from sklearn. 
- The training set should contain **80%** of the data, while the testing set should contain **20%**

In [30]:
# Split up data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8)

In [32]:
len(X_train)

614

In [33]:
len(X_test)

154

# Save our dataset
In our next notebook, we'll start doing actual machine learning on our dataset. But since we've done so much work cleaning up and splitting our dataset, we'll save our processed data to disk so that we can load it in without having to redo all of these steps.

Using the Python `pickle` package, save the dataset to a file called **"diabetes_data.pkl"**. `pickle` is a serialization package in Python and can be used to save Python objects to disk and then reload them in another session.

In [34]:
import pickle
with open("diabetes_data.pkl", "wb") as f:
    pickle.dump((X_train, X_test, y_train, y_test), f)

# Next Steps
Now that we have our data prepared, we're finally ready to do some machine learning! In our final in-class notebook, we will trained models on our dataset and evaluate to see how well they perform.

[./03-model-training-and-evaluation.ipynb](./03-model-training-and-evaluation.ipynb)