<html>
<table width="100%" cellspacing="2" cellpadding="2" border="1">
<tbody>
<tr>
<td valign="center" align="center" width="45%"><img src="../media/Univ-Utah.jpeg"><br>
</td>
    <td valign="center" align="center" width="75%">
<h1 align="center"><font size="+1">University of Utah<br>Population Health Sciences<br>Data Science Workshop</font></h1></td>
<td valign="center" align="center" width="45%"><img
src="../media/U_Health_stacked_png_red.png" alt="Utah Health
Logo" width="128" height="134"><br>
</td>
</tr>
</tbody>
</table>
<br>
</html>

In [ ]:
from helpers import *
import medspacy
import pandas as pd

from medspacy.visualization import visualize_dep, visualize_ent, MedspaCyVisualizerWidget

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
!pip install medspacy_pna

Requirement already satisfied: medspacy_pna in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (0.0.0.3)
Requirement already satisfied: medspacy>=0.2.0.0 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from medspacy_pna) (0.2.0.0)
Requirement already satisfied: PyRuSH>=1.0.3.5 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from medspacy>=0.2.0.0->medspacy_pna) (1.0.3.6)
Requirement already satisfied: six>=1.14.0 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from medspacy>=0.2.0.0->medspacy_pna) (1.16.0)
Requirement already satisfied: requests<2.16,>=2.13.0 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from medspacy>=0.2.0.0->medspacy_pna) (2.15.1)
Requirement already satisfied: spacy<3.2.0,>=3.1.3 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from medspacy>=0.2.0.0->medspacy_pna) (3.1.6)
Requirement already satisfied: pysbd==0.3.4 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from medspacy>=0.2.0.0->medspacy_pna) (0.3.4)
Requirement already satisfied: jsonschema in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from medspacy>=0.2.0.0->medspacy_pna) (4.4.0)
Requirement already satisfied: medspacy-quickumls>=2.4.1 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from medspacy>=0.2.0.0->medspacy_pna) (2.4.1)
Requirement already satisfied: unqlite>=0.8.1 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from medspacy-quickumls>=2.4.1->medspacy>=0.2.0.0->medspacy_pna) (0.9.3)
Requirement already satisfied: numpy>=1.8.2 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from medspacy-quickumls>=2.4.1->medspacy>=0.2.0.0->medspacy_pna) (1.23.0)
Requirement already satisfied: unidecode>=0.4.19 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from medspacy-quickumls>=2.4.1->medspacy>=0.2.0.0->medspacy_pna) (1.3.4)
Requirement already satisfied: leveldb>=0.193 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from medspacy-quickumls>=2.4.1->medspacy>=0.2.0.0->medspacy_pna) (0.201)
Requirement already satisfied: quickumls-simstring>=1.1.5r1 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from medspacy-quickumls>=2.4.1->medspacy>=0.2.0.0->medspacy_pna) (1.1.5.post1)
Requirement already satisfied: nltk>=3.3 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from medspacy-quickumls>=2.4.1->medspacy>=0.2.0.0->medspacy_pna) (3.7)
Requirement already satisfied: regex>=2021.8.3 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from nltk>=3.3->medspacy-quickumls>=2.4.1->medspacy>=0.2.0.0->medspacy_pna) (2022.7.9)
Requirement already satisfied: tqdm in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from nltk>=3.3->medspacy-quickumls>=2.4.1->medspacy>=0.2.0.0->medspacy_pna) (4.64.0)
Requirement already satisfied: click in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from nltk>=3.3->medspacy-quickumls>=2.4.1->medspacy>=0.2.0.0->medspacy_pna) (8.0.4)
Requirement already satisfied: joblib in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from nltk>=3.3->medspacy-quickumls>=2.4.1->medspacy>=0.2.0.0->medspacy_pna) (1.1.0)
Requirement already satisfied: quicksectx>=0.3.1 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from PyRuSH>=1.0.3.5->medspacy>=0.2.0.0->medspacy_pna) (0.3.1)
Requirement already satisfied: PyFastNER>=1.0.8b1 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from PyRuSH>=1.0.3.5->medspacy>=0.2.0.0->medspacy_pna) (1.0.8)
Requirement already satisfied: cython>=0.29 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from quicksectx>=0.3.1->PyRuSH>=1.0.3.5->medspacy>=0.2.0.0->medspacy_pna) (0.29.30)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from spacy<3.2.0,>=3.1.3->medspacy>=0.2.0.0->medspacy_pna) (3.0.9)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from spacy<3.2.0,>=3.1.3->medspacy>=0.2.0.0->medspacy_pna) (2.4.4)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from spacy<3.2.0,>=3.1.3->medspacy>=0.2.0.0->medspacy_pna) (2.0.6)
Requirement already satisfied: jinja2 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from spacy<3.2.0,>=3.1.3->medspacy>=0.2.0.0->medspacy_pna) (3.0.3)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from spacy<3.2.0,>=3.1.3->medspacy>=0.2.0.0->medspacy_pna) (0.9.1)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from spacy<3.2.0,>=3.1.3->medspacy>=0.2.0.0->medspacy_pna) (2.0.7)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from spacy<3.2.0,>=3.1.3->medspacy>=0.2.0.0->medspacy_pna) (0.4.2)
Requirement already satisfied: pathy>=0.3.5 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from spacy<3.2.0,>=3.1.3->medspacy>=0.2.0.0->medspacy_pna) (0.6.2)
Requirement already satisfied: setuptools in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from spacy<3.2.0,>=3.1.3->medspacy>=0.2.0.0->medspacy_pna) (61.2.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from spacy<3.2.0,>=3.1.3->medspacy>=0.2.0.0->medspacy_pna) (1.0.7)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from spacy<3.2.0,>=3.1.3->medspacy>=0.2.0.0->medspacy_pna) (3.0.6)
Requirement already satisfied: thinc<8.1.0,>=8.0.12 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from spacy<3.2.0,>=3.1.3->medspacy>=0.2.0.0->medspacy_pna) (8.0.17)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from spacy<3.2.0,>=3.1.3->medspacy>=0.2.0.0->medspacy_pna) (0.7.8)
Requirement already satisfied: packaging>=20.0 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from spacy<3.2.0,>=3.1.3->medspacy>=0.2.0.0->medspacy_pna) (21.3)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from spacy<3.2.0,>=3.1.3->medspacy>=0.2.0.0->medspacy_pna) (1.8.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from packaging>=20.0->spacy<3.2.0,>=3.1.3->medspacy>=0.2.0.0->medspacy_pna) (3.0.4)
Requirement already satisfied: smart-open<6.0.0,>=5.2.1 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from pathy>=0.3.5->spacy<3.2.0,>=3.1.3->medspacy>=0.2.0.0->medspacy_pna) (5.2.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4->spacy<3.2.0,>=3.1.3->medspacy>=0.2.0.0->medspacy_pna) (4.1.1)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from jinja2->spacy<3.2.0,>=3.1.3->medspacy>=0.2.0.0->medspacy_pna) (2.1.1)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from jsonschema->medspacy>=0.2.0.0->medspacy_pna) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in /Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages (from jsonschema->medspacy>=0.2.0.0->medspacy_pna) (21.4.0)

In [4]:
import medspacy_pna

In [5]:
nlp = medspacy_pna.build_nlp("radiology")

In [6]:
nlp.pipe_names

['tok2vec',
 'tagger',
 'parser',
 'medspacy_concept_tagger',
 'medspacy_target_matcher',
 'medspacy_context',
 'medspacy_sectionizer',
 'medspacy_postprocessor',
 'pneumonia_radiologydocumentclassifier']

In [29]:
def read_doc_annotations(train_test="train", n=None):
    import os
    directory = f"../data/pneumonia_data/{train_test}/"
    import pandas as pd
    print('Reading annotations from directory : ' + directory)
    data = []

    filenames = os.listdir(directory)
    if n is not None:
        filenames = filenames[:n]
    for name in filenames:
        if name.endswith('.txt') or name.endswith('.ann'):
            basename = name.split('.')[0]
            text_fp = os.path.join(directory, basename + ".txt")
            anno_fp = os.path.join(directory, basename + ".ann")
            with open(text_fp) as f:
                text = f.read()
            document_classification = read_document_annotation(anno_fp)
            data.append((basename, text, document_classification))
    df = pd.DataFrame(data, columns=["filename", "text", "document_classification", ])

    return df


def read_document_annotation(fp):
    with open(fp) as f:
        for line in f:
            if "PNEUMONIA_DOC_NO" in line:
                return 0
            if "PNEUMONIA_DOC_YES" in line:
                return 1
    return

In [30]:
df_train = read_doc_annotations()

Reading annotations from directory : ../data/pneumonia_data/train/

In [8]:
df_test = read_doc_annotations("test")

Reading annotations from directory : ../data/pneumonia_data/test/

In [ ]:
docs_train = list(nlp.pipe(df_train["text"]))

In [40]:
df_train["nlp_document_classification"] = [int(doc._.document_classification != "NEG") for doc in docs_train]

In [41]:
df_train

,filename,text,document_classification,doc,nlp_document_classification
0,subject_id_6383_hadm_id_19146,\n\n\n DATE: [**2717-5-23**] 12:06 PM\n ...,0,"(\n\n\n , DATE, :, [, *, *, 2717, -, 5, -,...",0
1,subject_id_4516_hadm_id_16710,\n\n\n DATE: [**2900-2-18**] 3:17 PM\n ...,0,"(\n\n\n , DATE, :, [, *, *, 2900, -, 2, -,...",0
2,subject_id_283_hadm_id_17902,\n\n\n DATE: [**2948-10-10**] 7:32 PM\n ...,1,"(\n\n\n , DATE, :, [, *, *, 2948, -, 10, -...",1
3,subject_id_7068_hadm_id_28746,\n\n\n DATE: [**3043-3-19**] 9:22 AM\n ...,0,"(\n\n\n , DATE, :, [, *, *, 3043, -, 3, -,...",0
4,subject_id_4726_hadm_id_27535,\n\n\n DATE: [**2904-8-20**] 4:47 PM\n ...,0,"(\n\n\n , DATE, :, [, *, *, 2904, -, 8, -,...",0
...,...,...,...,...,...
135,subject_id_8734_hadm_id_8478,\n\n\n DATE: [**2879-6-10**] 12:52 PM\n ...,1,"(\n\n\n , DATE, :, [, *, *, 2879, -, 6, -,...",1
136,subject_id_8011_hadm_id_18602,\n\n\n DATE: [**2932-10-1**] 11:28 AM\n ...,0,"(\n\n\n , DATE, :, [, *, *, 2932, -, 10, -...",0
137,subject_id_8502_hadm_id_17573,\n\n\n DATE: [**2596-5-10**] 5:45 AM\n ...,0,"(\n\n\n , DATE, :, [, *, *, 2596, -, 5, -,...",0
138,subject_id_8898_hadm_id_27562,\n\n\n DATE: [**3461-2-11**] 5:57 AM\n ...,1,"(\n\n\n , DATE, :, [, *, *, 3461, -, 2, -,...",1
139,subject_id_4518_hadm_id_2384,\n\n\n DATE: [**2603-7-21**] 11:28 AM\n ...,0,"(\n\n\n , DATE, :, [, *, *, 2603, -, 7, -,...",1

In [42]:
df_train.head()

,filename,text,document_classification,doc,nlp_document_classification
0,subject_id_6383_hadm_id_19146,\n\n\n DATE: [**2717-5-23**] 12:06 PM\n ...,0,"(\n\n\n , DATE, :, [, *, *, 2717, -, 5, -,...",0
1,subject_id_4516_hadm_id_16710,\n\n\n DATE: [**2900-2-18**] 3:17 PM\n ...,0,"(\n\n\n , DATE, :, [, *, *, 2900, -, 2, -,...",0
2,subject_id_283_hadm_id_17902,\n\n\n DATE: [**2948-10-10**] 7:32 PM\n ...,1,"(\n\n\n , DATE, :, [, *, *, 2948, -, 10, -...",1
3,subject_id_7068_hadm_id_28746,\n\n\n DATE: [**3043-3-19**] 9:22 AM\n ...,0,"(\n\n\n , DATE, :, [, *, *, 3043, -, 3, -,...",0
4,subject_id_4726_hadm_id_27535,\n\n\n DATE: [**2904-8-20**] 4:47 PM\n ...,0,"(\n\n\n , DATE, :, [, *, *, 2904, -, 8, -,...",0

In [43]:
df_train["doc"] = docs_train

In [44]:
fps = df_train.query("document_classification == 0 & nlp_document_classification == 1")

In [46]:
w = MedspaCyVisualizerWidget(list(fps["doc"]))

Box(children=(HBox(children=(RadioButtons(options=('Ent', 'Dep', 'Both'), value='Ent'), Button(description='Pr…

In [50]:
nlp.get_pipe("pneumonia_radiologydocumentclassifier").classification_schema

'linked'

In [16]:
evaluate_system(df_train)

              precision    recall  f1-score   support

           0       0.83      0.94      0.88        72
           1       0.93      0.79      0.86        68

    accuracy                           0.87       140
   macro avg       0.88      0.87      0.87       140
weighted avg       0.88      0.87      0.87       140

In [ ]:
docs_test = list(nlp.pipe(df_test["text"]))

In [17]:
df_test["nlp_document_classification"] = [int(doc._.document_classification != "NEG") for doc in docs_test]

In [18]:
evaluate_system(df_test)

              precision    recall  f1-score   support

           0       0.87      0.81      0.84        32
           1       0.80      0.86      0.83        28

    accuracy                           0.83        60
   macro avg       0.83      0.83      0.83        60
weighted avg       0.84      0.83      0.83        60

In [19]:
df_train = df_train.rename({"nlp_document_classification": "baseline_document_classification"}, axis=1)

In [20]:
df_test = df_test.rename({"nlp_document_classification": "baseline_document_classification"}, axis=1)

In [21]:
df_train.to_json("../data/pneumonia_data_train.json")

In [22]:
df_test.to_json("../data/pneumonia_data_test.json")

In [23]:
pd.read_json("../data/pneumonia_data_train.json")

,filename,text,document_classification,baseline_document_classification
0,subject_id_6383_hadm_id_19146,\n\n\n DATE: [**2717-5-23**] 12:06 PM\n ...,0,0
1,subject_id_4516_hadm_id_16710,\n\n\n DATE: [**2900-2-18**] 3:17 PM\n ...,0,0
2,subject_id_283_hadm_id_17902,\n\n\n DATE: [**2948-10-10**] 7:32 PM\n ...,1,1
3,subject_id_7068_hadm_id_28746,\n\n\n DATE: [**3043-3-19**] 9:22 AM\n ...,0,0
4,subject_id_4726_hadm_id_27535,\n\n\n DATE: [**2904-8-20**] 4:47 PM\n ...,0,0
...,...,...,...,...
135,subject_id_8734_hadm_id_8478,\n\n\n DATE: [**2879-6-10**] 12:52 PM\n ...,1,1
136,subject_id_8011_hadm_id_18602,\n\n\n DATE: [**2932-10-1**] 11:28 AM\n ...,0,0
137,subject_id_8502_hadm_id_17573,\n\n\n DATE: [**2596-5-10**] 5:45 AM\n ...,0,0
138,subject_id_8898_hadm_id_27562,\n\n\n DATE: [**3461-2-11**] 5:57 AM\n ...,1,1
139,subject_id_4518_hadm_id_2384,\n\n\n DATE: [**2603-7-21**] 11:28 AM\n ...,0,1

In [24]:
pd.read_json("../data/pneumonia_data_test.json")

,filename,text,document_classification,baseline_document_classification
0,subject_id_5145_hadm_id_15444,\n\n\n DATE: [**3060-1-8**] 3:40 PM\n ...,1,1
1,subject_id_7234_hadm_id_17497,\n\n\n DATE: [**2977-1-16**] 11:34 PM\n ...,0,1
2,subject_id_224_hadm_id_11004,\n\n\n DATE: [**3025-2-17**] 2:34 PM\n ...,1,1
3,subject_id_294_hadm_id_5849,\n\n\n DATE: [**3249-12-28**] 4:08 PM\n ...,0,0
4,subject_id_5738_hadm_id_18933,\n\n\n DATE: [**3452-7-19**] 6:27 PM\n ...,1,1
5,subject_id_106_hadm_id_24012,\n\n\n DATE: [**2993-7-25**] 4:58 PM\n ...,0,0
6,subject_id_5695_hadm_id_12073,\n\n\n DATE: [**2804-3-19**] 10:05 PM\n ...,1,1
7,subject_id_346_hadm_id_23504,\n\n\n DATE: [**2645-11-23**] 3:20 PM\n ...,0,0
8,subject_id_5308_hadm_id_27655,\n\n\n DATE: [**2776-2-17**] 9:49 AM\n ...,0,0
9,subject_id_7235_hadm_id_20012,\n\n\n DATE: [**2916-3-11**] 5:09 PM\n ...,1,1
10,subject_id_224_hadm_id_11004,\n\n\n DATE: [**3025-2-17**] 2:34 PM\n ...,1,1
11,subject_id_7234_hadm_id_17497,\n\n\n DATE: [**2977-1-16**] 11:34 PM\n ...,0,1
12,subject_id_5145_hadm_id_15444,\n\n\n DATE: [**3060-1-8**] 3:40 PM\n ...,1,1
13,subject_id_7235_hadm_id_20012,\n\n\n DATE: [**2916-3-11**] 5:09 PM\n ...,1,1
14,subject_id_5308_hadm_id_27655,\n\n\n DATE: [**2776-2-17**] 9:49 AM\n ...,0,0
15,subject_id_346_hadm_id_23504,\n\n\n DATE: [**2645-11-23**] 3:20 PM\n ...,0,0
16,subject_id_5695_hadm_id_12073,\n\n\n DATE: [**2804-3-19**] 10:05 PM\n ...,1,1
17,subject_id_106_hadm_id_24012,\n\n\n DATE: [**2993-7-25**] 4:58 PM\n ...,0,0
18,subject_id_5738_hadm_id_18933,\n\n\n DATE: [**3452-7-19**] 6:27 PM\n ...,1,1
19,subject_id_294_hadm_id_5849,\n\n\n DATE: [**3249-12-28**] 4:08 PM\n ...,0,0
20,subject_id_8770_hadm_id_20030,\n\n\n DATE: [**3495-10-11**] 11:38 AM\n ...,1,1
21,subject_id_311_hadm_id_33377,\n\n\n DATE: [**3261-9-7**] 7:32 AM\n ...,0,0
22,subject_id_21_hadm_id_20882,\n\n\n DATE: [**3139-3-20**] 1:22 AM\n ...,1,0
23,subject_id_5072_hadm_id_1082,\n\n\n DATE: [**3036-9-10**] 7:28 AM\n ...,0,0
24,subject_id_117_hadm_id_4106,\n\n\n DATE: [**3131-4-22**] 12:51 AM\n ...,0,0
25,subject_id_9137_hadm_id_22138,\n\n\n DATE: [**2900-4-20**] 10:06 PM\n ...,0,0
26,subject_id_311_hadm_id_33377,\n\n\n DATE: [**3261-9-7**] 7:32 AM\n ...,0,0
27,subject_id_8770_hadm_id_20030,\n\n\n DATE: [**3495-10-11**] 11:38 AM\n ...,1,1
28,subject_id_9137_hadm_id_22138,\n\n\n DATE: [**2900-4-20**] 10:06 PM\n ...,0,0
29,subject_id_117_hadm_id_4106,\n\n\n DATE: [**3131-4-22**] 12:51 AM\n ...,0,0
30,subject_id_5072_hadm_id_1082,\n\n\n DATE: [**3036-9-10**] 7:28 AM\n ...,0,0
31,subject_id_21_hadm_id_20882,\n\n\n DATE: [**3139-3-20**] 1:22 AM\n ...,1,0
32,subject_id_56_hadm_id_28766,\n\n\n DATE: [**2644-1-17**] 6:37 AM\n ...,1,1
33,subject_id_356_hadm_id_20244,\n\n\n DATE: [**3233-9-7**] 4:29 PM\n ...,0,0
34,subject_id_5608_hadm_id_7673,\n\n\n DATE: [**3124-1-22**] 11:35 AM\n ...,0,0
35,subject_id_9157_hadm_id_5709,\n\n\n DATE: [**3220-1-23**] 9:39 AM\n ...,1,1
36,subject_id_4276_hadm_id_25705,\n\n\n DATE: [**3227-9-10**] 11:01 AM\n ...,1,1
37,subject_id_56_hadm_id_28766,\n\n\n DATE: [**2644-1-17**] 6:37 AM\n ...,1,1
38,subject_id_9157_hadm_id_5709,\n\n\n DATE: [**3220-1-23**] 9:39 AM\n ...,1,1
39,subject_id_4276_hadm_id_25705,\n\n\n DATE: [**3227-9-10**] 11:01 AM\n ...,1,1
40,subject_id_5608_hadm_id_7673,\n\n\n DATE: [**3124-1-22**] 11:35 AM\n ...,0,0
41,subject_id_356_hadm_id_20244,\n\n\n DATE: [**3233-9-7**] 4:29 PM\n ...,0,0
42,subject_id_4543_hadm_id_5941,\n\n\n DATE: [**2913-2-19**] 6:04 PM\n ...,0,0
43,subject_id_8141_hadm_id_26029,\n\n\n DATE: [**2806-4-23**] 9:48 PM\n ...,1,0
44,subject_id_4071_hadm_id_24223,\n\n\n DATE: [**2924-4-10**] 4:58 PM\n ...,0,0
45,subject_id_5562_hadm_id_26996,\n\n\n DATE: [**2892-10-1**] 7:35 AM\n ...,1,1
46,subject_id_5144_hadm_id_31918,\n\n\n DATE: [**3139-6-12**] 8:10 AM\n ...,1,1
47,subject_id_8366_hadm_id_1670,\n\n\n DATE: [**3133-2-10**] 8:58 AM\n ...,1,1
48,subject_id_8904_hadm_id_24556,\n\n\n DATE: [**3367-1-21**] 1:19 PM\n ...,0,0
49,subject_id_8311_hadm_id_9245,\n\n\n DATE: [**2741-5-16**] 1:46 PM\n ...,0,1
50,subject_id_7728_hadm_id_15,\n\n\n DATE: [**3491-4-10**] 11:22 AM\n ...,0,1
51,subject_id_5562_hadm_id_26996,\n\n\n DATE: [**2892-10-1**] 7:35 AM\n ...,1,1
52,subject_id_4071_hadm_id_24223,\n\n\n DATE: [**2924-4-10**] 4:58 PM\n ...,0,0
53,subject_id_8141_hadm_id_26029,\n\n\n DATE: [**2806-4-23**] 9:48 PM\n ...,1,0
54,subject_id_4543_hadm_id_5941,\n\n\n DATE: [**2913-2-19**] 6:04 PM\n ...,0,0
55,subject_id_7728_hadm_id_15,\n\n\n DATE: [**3491-4-10**] 11:22 AM\n ...,0,1
56,subject_id_8311_hadm_id_9245,\n\n\n DATE: [**2741-5-16**] 1:46 PM\n ...,0,1
57,subject_id_8904_hadm_id_24556,\n\n\n DATE: [**3367-1-21**] 1:19 PM\n ...,0,0
58,subject_id_8366_hadm_id_1670,\n\n\n DATE: [**3133-2-10**] 8:58 AM\n ...,1,1
59,subject_id_5144_hadm_id_31918,\n\n\n DATE: [**3139-6-12**] 8:10 AM\n ...,1,1