<html>
<table width="100%" cellspacing="2" cellpadding="2" border="1">
<tbody>
<tr>
<td valign="center" align="center" width="45%"><img src="../media/Univ-Utah.jpeg"><br>
</td>
    <td valign="center" align="center" width="75%">
<h1 align="center"><font size="+1">University of Utah<br>Population Health Sciences<br>Data Science Workshop</font></h1></td>
<td valign="center" align="center" width="45%"><img
src="../media/U_Health_stacked_png_red.png" alt="Utah Health
Logo" width="128" height="134"><br>
</td>
</tr>
</tbody>
</table>
<br>
</html>

# 1. Python Essentials
We'll start by learning some of the essentials of Python, as well as how to use Jupyter Notebooks.

In [1]:
from helpers import *

# I. Jupyter Notebooks
Jupyter Notebooks are an environment which can be used for running code, displaying results and visualizations, and sharing human-readable information. Jupyter notebooks consist of *cells* and each cell defines a single piece of code. 

The cell which you're reading now is called a *Markdown* cell: It is meant to be human-readable and allows formatting like:
- Bullted or numbered lists
- **bold text**
- *italics*

Double-click on this cell to see what the raw markdown looks like. Then press `"Run"` or hit "Shift+Enter" to re-execute the cell so it renders in your browser.

The other main cell type is the **Code** cell. This contains executable Python code. When you run a code cell, it will execute the code within and display the output. This way, you can go through a notebook a run code step-by-step and inspect the output.

You can change a cell type by clicking the dropdown menu above which says **"Markdown"**. To make it a Python cell, select **"Code"**.

In [14]:
print("This is a code cell.")

This is a code cell.

Inside of a code cell, you can write **comments** by putting a `#` symbol before text. Anything on the line after a `#` will not be executed and is just there for humans to read it.

In [15]:
# This line won't run
print("But this one will!") # (but nothing after this)

But this one will!

### TODO
Change the cell below to be a code cell. Then modify the code so the `print` statement will execute. Run the cell by hitting either the `"Run"` button above (looks like a "play" button") or hitting "Shift+Enter".

In [16]:
# print("Hello, there!")

Note that in the code cell above, when we execute the cell it runs the single line of code and then displays the output underneath.

To create a new cell, press the **"+"** buttom in the menu. The default cell type is **Code**.

### TODO
Create two new cells below. Make the first cell a Markdown cell. Copy and paste the following text into the Markdown cell and edit it with your information. Run the cell. Notice how the formatting of the text is rendered once you execute the cell.

```
- **First Name**: your first name
- **Last Name**: your last name
- **Major**: Your department
```

Then, make the second cell a Code cell. Copy and paste the following code and execute it:

```
print("1 + 2 = ", 1 + 2)
```

- **First Name**: Alec
- **Last Name**: Chapman
- **Major**: Division of Epidemiology

In [4]:
print("1 + 2 = ", 1 + 2)

1 + 2 =  3

## Errors
Errors tell you that something in the code was incorrect and either couldn't run or failed some check that the developer put in. They aren't always pleasant, but you're going to see a lot of them, so we might as well get familiar with them!

There are several different types of errors you'll come across. Let's see some examples and learn how to understand them.

The most common is a **syntax error**. This tells you that you've made a mistake in the syntax of your code. The code below needs parentheses around `x`. Read the message at the bottom.

In [56]:
print 1

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(1)? (2006075915.py, line 1)

In [57]:
print(1)

1

In [58]:
max("abc")

'c'

# Functions

#### What is a function?
One of the most important concepts in Python programming is **functions**. Functions are what will allow us to take input (e.g., data) and produce some sort of output (e.g., summary statistics) which are useful to us.


#### Examples of functions

You already saw one example of a function earlier called `print`. This function takes a message and "prints" it out for the user to see. The message we printed out below was *Hello, world!*

#### TODO
Print your name in the cell below.

In [5]:
print("Alec")

Alec

The syntax for using a function is:

```python
function_name(arg1, arg2, ...)
```

- Type the function name
- Pass in any **arguments** or **parameters** in parentheses (sometimes there aren't any arguments!). 

The `print` function, and a number of other functions, are loaded by default. Another useful funtion is `help`, which gives us information about how to use a function:

In [7]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [8]:
help(help)

Help on _Helper in module _sitebuiltins object:

class _Helper(builtins.object)
 |  Define the builtin 'help'.
 |
 |  This is a wrapper around pydoc.help that provides a helpful message
 |  when 'help' is typed at the Python interactive prompt.
 |
 |  Calling help() at the Python prompt starts an interactive help session.
 |  Calling help(thing) prints help for the python object 'thing'.
 |
 |  Methods defined here:
 |
 |  __call__(self, *args, **kwds)
 |      Call self as a function.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

We'll learn how to write our own functions later, but first let's get some practice using functions.

#### TODO

Here are a few examples of functions that have been defined for you:
- `squared(x)`: Squares a number
- `add(x, y)`: Add x and y together
- `print_name(first_name, last_name, middle_name=None)`: Prints "My name is", followed by your first/last name and optional middle initial (we'll talk more about optional arguments later)

Using these functions, do the following:
1. Calculate the square of 2
2. Add 3 and 5
3. Add 3 and 5 and square the result
4. Print the value of 5 squared
5. Print out your name

In [4]:
import numpy as np
def square(x):
    return x**2

def add(x, y):
    return x + y

def print_name(first, last, middle=None):
    if middle is None:
        print(f"My name is {first.title()} {last.title()}")
    else:
        print(f"My name is {first.title()} {middle[0].title()}. {last.title()}")

In [5]:
square(2)

4

In [6]:
test_square_2.test(_)

That is correct!

In [7]:
add(3, 5)

8

In [8]:
test_add_3_5.test(_)

That is correct!

In [9]:
square(add(3, 5))

64

In [10]:
print(square(5))

25

In [11]:
print_name("Alec", "Chapman", "B")

My name is Alec B. Chapman

## Variables
Now that we know how to use functions, the next tool we'll learn about is **variables**.

Variables are objects whose values can be changed. The opposite of a variable is a **literal**, which is a single specific value like `5` or `"abc"`.

We **declare** a variable using the assignent operator `=`:

```python
var_name = ... 
```

So, for example, we can declare a variable **x** and give it the value of 5. Then we can pass `x` into our `square` function and get the value of `x**2`.

In [17]:
x = 5
square(x)

25

Since `x` is a variable, we can change it to a different value so we can run our function using a different value.

In [18]:
x = 3
square(3)

9

We can also define a variable using the output of a function.

### TODO
What value will we get with the following code?
```python
x = 3
y = square(x)
x = x - 1
add(x, y)
```

In [32]:
MultipleChoiceQuiz(description='What is the value of: <p style="font-family:courier";>add(x,y)</p>', 
                   options=[11, 12, 4, 9], answer=11)

VBox(children=(HTML(value='What is the value of: <p style="font-family:courier";>add(x,y)</p>'), RadioButtons(…

#### TODO
Declare two variables, `r` and `pi`. Set `r` equal to 2 and `pi` equal to `3.14`.

In [33]:
r = 2
pi = 3.14

In [34]:
test_r_equals_2 = ValueTest(2, True)
test_pi_equals = ValueTest(3.14, True)

In [36]:
test_r_equals_2.test(r)

That is correct!

In [37]:
test_pi_equals.test(pi)

That is correct!

## Datatypes
Variables can be of any Python **datatype**. Here are some examples of data types:

### Integers
Integers are whole numbers. Each of the following cells have an integer.

In [ ]:
1

In [ ]:
x = 3
x

We can add two or moreintegers:

In [ ]:
x + 5

In [ ]:
x + 5 + 4

Or multiply them:

In [ ]:
x * 5

divide them (note that it isn't an integer anymore):

In [ ]:
x / 5

Or exponentiate them:

In [ ]:
x ** 5

## Floats
Floats are the other numeric datatype in Python and are a number with a decimal.

In [ ]:
1.3

In [ ]:
pi = 3.14
pi

We can do all the same operations on floats that we did on integers. We can also do those same operations between floats and integers.

In [ ]:
pi + pi

In [ ]:
2 * pi

In [ ]:
pi + x

In [ ]:
pi ** x

We can convert a float to an int and vice-versa:

In [45]:
int(pi)

3

In [46]:
float(2)

2.0

#### TODO
What data type is the value: 

```python
r=3
2*r*pi
```

In [44]:
MultipleChoiceQuiz(description='What data type is: <p style="font-family:courier";>2*r*pi</p>', answer="float",
                  options=["int", "float", "variable", "other"])

VBox(children=(HTML(value='What data type is: <p style="font-family:courier";>2*r*pi</p>'), RadioButtons(optio…

In [48]:
MultipleChoiceQuiz(description='How about: <p style="font-family:courier";>int(2*float(r)*int(pi))</p>', 
                   answer="int",
                  options=["int", "float", "variable", "other"])

VBox(children=(HTML(value='How about: <p style="font-family:courier";>int(2*float(r)*int(pi))</p>'), RadioButt…

## Strings
Strings represent text. We make a string by wrapping characters in quotation marks:

In [49]:
"Hello!"

'Hello!'

You can also use single quotes (although that's not recommended sylistically):

In [50]:
'Hi!'

'Hi!'

You can also use **triple-quotes** to span multiple lines in the code:

In [53]:
# https://www.poetryfoundation.org/poems/42916/jabberwocky
"""
’Twas brillig, and the slithy toves
      Did gyre and gimble in the wabe:
All mimsy were the borogoves,
      And the mome raths outgrabe.

“Beware the Jabberwock, my son!
      The jaws that bite, the claws that catch!
Beware the Jubjub bird, and shun
      The frumious Bandersnatch!”
"""

'\n’Twas brillig, and the slithy toves\n      Did gyre and gimble in the wabe:\nAll mimsy were the borogoves,\n      And the mome raths outgrabe.\n\n“Beware the Jabberwock, my son!\n      The jaws that bite, the claws that catch!\nBeware the Jubjub bird, and shun\n      The frumious Bandersnatch!”\n'

In [ ]:
first = "Alec"
middle = "B."
last = "Chapman"

We can add strings together to get a longer string:

In [ ]:
first + " " + middle + " " + last

However, you cannot add a string and numeric objects:

In [ ]:
first + 1

But you can multiply a string and an integer:

In [ ]:
"Hello!"*25

## Booleans

In [ ]:
True

In [ ]:
False

In [ ]:
3 == 3

In [ ]:
3 > 1

In [ ]:
3 >= 3

In [ ]:
a = True
b = False

In [ ]:
a & b

In [ ]:
a or b

In [ ]:
a and not b

In [ ]:
not (a and b)

In [ ]:
not (a and b)

In [ ]:
c = a & b

In [ ]:
d = a or b

In [ ]:
a & c

In [ ]:
a & d

## Lists, tuples, sets, and dictionaries

In [ ]:
names_list = ["Alec", "Dan", "Marcie", "Alec"]
names_list

In [ ]:
type(names_list)

In [ ]:
names_tuple = ("Alec", "Dan", "Marcie", "Alec")
names_tuple

In [ ]:
type(names_tuple)

In [ ]:
tuple(names_list)

In [ ]:
names_set = {"Alec", "Dan", "Marcie", "Alec"}
names_set

In [ ]:
names_dict = {"Alec": "Student", "Dan": "Faculty", "Marcie": "Staff"}
names_dict

## Quiz
Match each variable to its datatype.

In [ ]:
quiz1

In [ ]:
quiz2