<html>
<table width="100%" cellspacing="2" cellpadding="2" border="1">
<tbody>
<tr>
<td valign="center" align="center" width="45%"><img src="../media/Univ-Utah.jpeg"><br>
</td>
    <td valign="center" align="center" width="75%">
<h1 align="center"><font size="+1">University of Utah<br>Population Health Sciences<br>Data Science Workshop</font></h1></td>
<td valign="center" align="center" width="45%"><img
src="../media/U_Health_stacked_png_red.png" alt="Utah Health
Logo" width="128" height="134"><br>
</td>
</tr>
</tbody>
</table>
<br>
</html>

# 1. Python Basics
We'll start by learning some of the essentials of Python, as well as how to use Jupyter Notebooks.

## TODO and Discussion items
Throughout these notebooks, you'll see sections marked **TODO** or **Discussion**. Whenever you see a todo section, you'll be asked to edit or complete code. Parts of code which you need to edit will have placeholders of three underscores: `___`. You should replace these underscores with the correct snippet of code. This syntax should be familiar with you as the convention used by DataCamp.

For example, if you are asked to edit the cell below to print out the text "Hello, world!", you should change this cell (which won't run correctly until you change it):

In [1]:
___("Hello, world!")

TypeError: 'str' object is not callable

To this:

In [2]:
print("Hello, world!")

Hello, world!

# I. Jupyter Notebooks
Jupyter Notebooks are an environment which can be used for running code, displaying results and visualizations, and sharing human-readable information. Jupyter notebooks consist of *cells* and each cell defines a single piece of code. 

The cell which you're reading now is called a *Markdown* cell: It is meant to be human-readable and allows formatting like:
- Bullted or numbered lists
- **bold text**
- *italics*

Double-click on this cell to see what the raw markdown looks like. Then press `"Run"` or hit "Shift+Enter" to re-execute the cell so it renders in your browser.

The other main cell type is the **Code** cell. This contains executable Python code. When you run a code cell, it will execute the code within and display the output. This way, you can go through a notebook a run code step-by-step and inspect the output.


You can change a cell type by clicking the dropdown menu above which says **"Markdown"**. To make it a Python cell, select **"Code"**.

In [3]:
print("This is a code cell.")

This is a code cell.

### TODO
Change the cell below to be a code cell. Then run the cell by hitting either the `"Run"` button above (looks like a "play" button") or hitting "Shift+Enter".

print("Hello, there!")

Note that in the code cell above, when we execute the cell it runs the single line of code and then displays the output underneath.

To create a new cell, press the **"+"** buttom in the menu. The default cell type is **Code**.

### TODO
Create two new cells below. Make the first cell a Markdown cell. Copy and paste the following text into the Markdown cell and edit it with your information. Run the cell. Notice how the formatting of the text is rendered once you execute the cell.

```
- **First Name**: your first name
- **Last Name**: your last name
- **Major**: Your major
```

Then, make the second cell a Code cell. Copy and paste the following code and execute it:

```
print("1 + 2 = ", 1 + 2)
```

# Functions

#### What is a function?
One of the most important concepts in Python programming is **functions**. Functions are what will allow us to take input (e.g., data) and produce some sort of output (e.g., summary statistics) which are useful to us.


#### Examples of functions

You already saw one example of a function earlier called `print`. This function takes a message and "prints" it out for the user to see. The message we printed out below was *Hello, world!*

#### TODO
Print your name in the cell below.

In [4]:
print("Alec")

Alec

In [5]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

The syntax for using a function is:

- Type the function name
- Pass in any **arguments** or **parameters** in parentheses. 

The `print` function, and a number of other functions, are loaded by default. Another useful funtion is `help`, which gives us information about how to use a function:

In [10]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [11]:
help(help)

Help on _Helper in module _sitebuiltins object:

class _Helper(builtins.object)
 |  Define the builtin 'help'.
 |
 |  This is a wrapper around pydoc.help that provides a helpful message
 |  when 'help' is typed at the Python interactive prompt.
 |
 |  Calling help() at the Python prompt starts an interactive help session.
 |  Calling help(thing) prints help for the python object 'thing'.
 |
 |  Methods defined here:
 |
 |  __call__(self, *args, **kwds)
 |      Call self as a function.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

We'll learn how to write our own functions later, but first let's get some practice using functions.

#### TODO

Here are a few examples of functions that have been defined for you:
- `squared(x)`: Squares a number
- `add(x, y)`: Add x and y together
- `print_name(first_name, last_name, middle_name=None)`: Prints "My name is", followed by your first/last name and optional middle initial (we'll talk more about optional arguments later)

Using these functions, do the following:
1. Calculate the square of 2
2. Add 3 and 5
3. Add 3 and 5 and square the result
4. Print the value of 5 squared
5. Print out your name

In [20]:
import numpy as np
def square(x):
    return x**2

def add(x, y):
    return x + y

def print_name(first, last, middle=None):
    if middle is None:
        print(f"My name is {first.title()} {last.title()}")
    else:
        print(f"My name is {first.title()} {middle[0].title()}. {last.title()}")

In [21]:
square(2)

4

In [22]:
add(3, 5)

8

In [23]:
square(add(3, 5))

64

In [26]:
print(square(5))

25

In [25]:
print_name("Alec", "Chapman", "B")

My name is Alec B. Chapman

## Variables
Now that we know how to use functions, the next tool we'll learn about is **variables**.

In [27]:
x = 5
square(x)

25

In [28]:
x = 3
square(3)

9

We can also define a variable using the output of a function.

### TODO
What value will we get with the following code?
```python
x = 3
y = square(x)
add(x, y)
```

In [29]:
x = 3
y = square(x)
add(x, y)

12

## Datatypes
Variables can be of any Python **datatype**. Here are some examples of data types:

### Integers
Integers are whole numbers. Each of the following cells have an integer.

In [30]:
1

1

In [31]:
x = 3
x

3

We can add two or moreintegers:

In [45]:
x + 5

8

In [46]:
x + 5 + 4

12

Or multiply them:

In [34]:
x * 5

15

divide them (note that it isn't an integer anymore):

In [38]:
x / 5

0.6

Or exponentiate them:

In [39]:
x ** 5

243

## Floats
Floats are the other numeric datatype in Python and are a number with a decimal.

In [40]:
1.3

1.3

In [43]:
pi = 3.14
pi

3.14

We can do all the same operations on floats that we did on integers. We can also do those same operations between floats and integers.

In [47]:
pi + pi

6.28

In [48]:
2 * pi

6.28

In [49]:
pi + x

6.140000000000001

In [50]:
pi ** x

30.959144000000002

## Strings
Strings represent text. We make a string by wrapping characcters in quotation marks:

In [51]:
"Hello!"

'Hello!'

In [53]:
first = "Alec"
middle = "B."
last = "Chapman"

We can add strings together to get a longer string:

In [55]:
first + " " + middle + " " + last

'Alec B. Chapman'

However, you cannot add a string and numeric objects:

In [56]:
first + 1

TypeError: can only concatenate str (not "int") to str

But you can multiply a string and an integer:

In [58]:
"Hello!"*25

'Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!Hello!'

## Booleans

In [72]:
True

True

In [73]:
False

False

In [74]:
3 == 3

True

In [76]:
3 > 1

True

In [77]:
3 >= 3

True

In [78]:
a = True
b = False

In [79]:
a & b

False

In [80]:
a or b

True

In [88]:
a and not b

True

In [90]:
not (a and b)

True

In [91]:
not (a and b)

True

In [83]:
c = a & b

In [86]:
d = a or b

In [84]:
a & c

False

In [87]:
a & d

True

## Lists, tuples, sets, and dictionaries

In [67]:
names_list = ["Alec", "Dan", "Marcie", "Alec"]
names_list

['Alec', 'Dan', 'Marcie', 'Alec']

In [62]:
type(names_list)

list

In [66]:
names_tuple = ("Alec", "Dan", "Marcie", "Alec")
names_tuple

('Alec', 'Dan', 'Marcie', 'Alec')

In [64]:
type(names_tuple)

tuple

In [65]:
tuple(names_list)

('Alec', 'Dan', 'Marcie', 'Alec')

In [69]:
names_set = {"Alec", "Dan", "Marcie", "Alec"}
names_set

{'Alec', 'Dan', 'Marcie'}

In [71]:
names_dict = {"Alec": "Student", "Dan": "Faculty", "Marcie": "Staff"}
names_dict

{'Alec': 'Student', 'Dan': 'Faculty', 'Marcie': 'Staff'}