<html>
<table width="100%" cellspacing="2" cellpadding="2" border="1">
<tbody>
<tr>
<td valign="center" align="center" width="45%"><img src="../media/Univ-Utah.jpeg"><br>
</td>
    <td valign="center" align="center" width="75%">
<h1 align="center"><font size="+1">University of Utah<br>Population Health Sciences<br>Data Science Workshop</font></h1></td>
<td valign="center" align="center" width="45%"><img
src="../media/U_Health_stacked_png_red.png" alt="Utah Health
Logo" width="128" height="134"><br>
</td>
</tr>
</tbody>
</table>
<br>
</html>

In [3]:
from helpers import *

# Module 1 Exercises Part 1
We have covered a lot of material so far! Before moving on to the remainder of the module, we'll do some exercises which will review and apply the skills we've learned so far. These exercises will cover the following topics:

1. Variables and data types
2. Writing and using functions
3. Control statements
4. For-loops
5. Data structures

## Exercise 1: Emergency room roster
Let's again go back to our roster of emergency room patients. Here is the recorded information for each patient:

| name | arrival_time | age | severity |
|------|--------------|-----|----------|
|   Jim   |      6:00        |  40   |     40     |
|   Mary   |       6:30       | 31   |     10     |
|   Rachel   |        7:00      |   27  |    20      |
|    Laura  |        7:30      |   38  |     15     |
|   Chloe   |         8:00     |   25  |     50     |

### Exercise 1.1
Below is variable called `pt_roster` which will allow us to look up arrival time, age, and severity by name. Answer the three multichoice questions about this variable.

In [162]:
pt_roster = {
    "Jim": {
        "arrival_time": "6:00",
        "age": 40,
        "severity": 40,
    },
    "Mary": {
        "arrival_time": "6:30",
        "age": 31,
        "severity": 10,
    },
    "Rachel": {
        "arrival_time": "7:00",
        "age": 27,
        "severity": 20,
    },
    "Laura": {
        "arrival_time": "7:30",
        "age": 38,
        "severity": 15,
    },
    "Chloe": {
        "arrival_time": "8:00",
        "age": 25,
        "severity": 50,
    }
}

In [168]:
MultipleChoiceQuiz(description="What data type is `test_pt_roster`?", answer="dict", 
                   options=["dict", "list", "set", "int"])

VBox(children=(HTML(value='What data type is `test_pt_roster`?'), RadioButtons(options=('list', 'dict', 'set',…

In [169]:
MultipleChoiceQuiz(description='What data type is `test_pt_roster["Rachel"]`?', answer="dict", 
                   options=["dict", "list", "set", "int"])

VBox(children=(HTML(value='What data type is `test_pt_roster["Rachel"]`?'), RadioButtons(options=('set', 'list…

In [172]:
MultipleChoiceQuiz(description='What data type is `test_pt_roster["Rachel"]["severity"]`?', answer="int", 
                   options=["dict", "list", "set", "int"])

VBox(children=(HTML(value='What data type is `test_pt_roster["Rachel"]["severity"]`?'), RadioButtons(options=(…

In [4]:
test_pt_roster = ValueTest(expected={
    "Jim": {
        "arrival_time": "6:00",
        "age": 40,
        "severity": 40,
    },
    "Mary": {
        "arrival_time": "6:30",
        "age": 31,
        "severity": 10,
    },
    "Rachel": {
        "arrival_time": "7:00",
        "age": 27,
        "severity": 20,
    },
    "Laura": {
        "arrival_time": "7:30",
        "age": 38,
        "severity": 15,
    },
    "Chloe": {
        "arrival_time": "8:00",
        "age": 25,
        "severity": 50,
    }
})

In [5]:
test_pt_roster.test(pt_roster)

That is correct!

### Exercise 1.2
What code would give you Rachel's age and Laura's arrival time?

In [14]:
test_rachel_age = FreeTextTest("What code would give you Rachel's age?", answer='pt_roster["Rachel"]["age"]')
test_rachel_age

VBox(children=(HTML(value="What code would give you Rachel's age?"), Textarea(value='', placeholder='Type some…

In [19]:
test_laura_time = FreeTextTest("What code would give you Laura's arrival time?", answer='pt_roster["Laura"]["arrival_time"]')
test_laura_time

VBox(children=(HTML(value="What code would give you Laura's arrival time?"), Textarea(value='', placeholder='T…

### Exercise 1.3
Write code to find the names of the patients with the lowest and highest severity scores. There are a few different ways of doing this, so there's no quiz here to check your answer.

**Hint** todo add a hint button

In [188]:
# Option 1. Sort the dictionary by severity order, then take the first and last values
pt_roster_srtd_sev = sorted(pt_roster.items(), key=lambda x:x[1]["severity"])
print(pt_roster_srtd_sev)
print()
print("Name of patient with lowest severity:", pt_roster_srtd_sev[0][0])
print("Name of patient with highest severity:", pt_roster_srtd_sev[-1][0])

[('Mary', {'arrival_time': '6:30', 'age': 31, 'severity': 10}), ('Laura', {'arrival_time': '7:30', 'age': 38, 'severity': 15}), ('Rachel', {'arrival_time': '7:00', 'age': 27, 'severity': 20}), ('Jim', {'arrival_time': '6:00', 'age': 40, 'severity': 40}), ('Chloe', {'arrival_time': '8:00', 'age': 25, 'severity': 50})]

Name of patient with lowest severity: Mary
Name of patient with highest severity: Chloe

In [192]:
# Option 2. Use a for-loop to go through each person and check if their values are high
lowest_sev_score = 100
lowest_sev_name = None
highest_sev_score = 0
highest_sev_name = None

for name in pt_roster.keys():
    severity = pt_roster[name]["severity"]
    if severity < lowest_sev_score:
        lowest_sev_score = severity
        lowest_sev_name = name
    if severity > highest_sev_score:
        highest_sev_score = severity
        highest_sev_name = name
        
print("Name of lowest severity individual:", lowest_sev_name)
print("Name of highest severity individual:", highest_sev_name)

Name of lowest severity individual: Mary
Name of highest severity individual: Chloe

## Exercise 2: BMI
Below are some measurements of BMI.

In [52]:
bmis = [
    24,
    23,
    49,
    27,
    25,
    22,
    38,
    29,
    56,
    27,s
    22,
]

### 2.1
What are the min and max values of `bmis`?

In [53]:
min_bmi = min(bmis)
max_bmi = max(bmis)

### 2.2
Created a new variable called `sorted_bmis` which contains the BMI values sorted from smallest to largest.

In [54]:
sorted_bmis = sorted(bmis)
sorted_bmis

[22, 22, 23, 24, 25, 27, 27, 29, 38, 49, 56]

### 2.3
Write a function called `discretize_bmi` which takes a numeric BMI value to the following categories:
- **<18.5**
- **18.5-24.9**
- **25.0-29.9**
- **30-39.9**
- **>=40**

Then make a list called `bmis_discrete` which contains the categorized BMI values for `bmis`.

In [60]:
def discretize_bmi(bmi):
    if bmi < 18.5:
        return "< 18.5"
    if bmi <= 24.9:
        return "18.5-24.9"
    if bmi <= 29.9:
        return "25.0-29.9"
    if bmi <= 39.9:
        return "30-39.9"
    return ">=40"

In [61]:
discretize_bmi(18.4)

'< 18.5'

### 2.4 (Advanced)
What is the [median](https://en.wikipedia.org/wiki/Median) BMI value? Write a function called `my_median` which takes a list with an *odd number of elements* and returns the median.

**Advanced**: If you'd like a challenge, also implement it for even numbers.

**Hint**

In [48]:
def my_median(x):
    x = sorted(x)
    if len(x) % 2 == 1:
        return x[int((len(x)+1))/2]
    else:
        return (x[int((len(x))/2)] + x[int((len(x) +1)/2)]) / 2

In [49]:
import random

In [50]:
def validate_my_median(func):
    import random
    
    for i in range(0, 10):
        sampled = random.sample(range(0, 100), 9)
        assert func(sampled) == my_median(sampled)

In [51]:
validate_my_median(my_median)

TypeError: list indices must be integers or slices, not float

In [ ]:
test_my_median = FunctionTest()

## Exercise 3: Patient diagnoses
The following exercises will check which patients have either pneumonia, sepsis, or respiratory disease.

In [68]:
df

,ICDCodeType,ICDCode,description,PNA,Sepsis,Respiratory,Aspiration,UU cap codes,Date Code Added to Study,Unnamed: 9
0,9,482.0,PNEUMONIA DUE TO KLEBSIELLA PNEUMONIAE,1,0,0,0,0,Prior to 4/5/2022,NaN
1,9,482.1,PNEUMONIA DUE TO PSEUDOMONAS,1,0,0,0,0,Prior to 4/5/2022,NaN
2,9,482.3,PNEUMONIA DUE TO STREPTOCOCCUS,1,0,0,0,0,Prior to 4/5/2022,NaN
3,9,482.40,"PNEUMONIA DUE TO STAPHYLOCOCCUS, UNSPECIFIED",1,0,0,0,0,Prior to 4/5/2022,NaN
4,9,482.8,PNEUMONIA DUE TO OTHER SPECIFIED BACTERIA,1,0,0,0,0,Prior to 4/5/2022,NaN
...,...,...,...,...,...,...,...,...,...,...
143,9,518.52,"Other pulmonary insufficiency, not elsewhere c...",0,0,1,0,0,2022-04-05 00:00:00,NaN
144,9,518. 53,Acute and chronic respiratory failure after tr...,0,0,1,0,0,2022-04-05 00:00:00,NaN
145,9,799.1,Respiratory arrest,0,0,1,0,0,2022-04-05 00:00:00,NaN
146,9,799,asphyxia,0,0,1,0,0,2022-04-05 00:00:00,NaN
147,9,799.01,asphyxia,0,0,1,0,0,2022-04-05 00:00:00,NaN

In [70]:
import pandas as pd
df = pd.read_excel("../mysql/Pneumonia Codes 21 APR 2022.xlsx").query("ICDCodeType == 9")
pna_codes = tuple(df.query("PNA == 1")["ICDCode"])
sepsis_codes = tuple(df.query("Sepsis == 1")["ICDCode"])
resp_codes = tuple(df.query("Respiratory == 1")["ICDCode"])

('482.0',
 '482.1',
 '482.3',
 '482.40',
 '482.8',
 '482.80',
 '484.1',
 '480.0',
 '480.1',
 '480.2',
 '480.3',
 '480.8',
 '480.9',
 '481.',
 '482.2',
 '482.30',
 '482.31',
 '482.32',
 '482.39',
 '482.4',
 '482.41',
 '482.42',
 '482.49',
 '482.81',
 '482.82',
 '482.83',
 '482.84',
 '482.89',
 '482.9',
 '483.',
 '483.0',
 '483.1',
 '483.8',
 '484.3',
 '484.5',
 '484.6',
 '484.7',
 '484.8',
 '485.',
 '486.',
 '487.0')

In [76]:
pna_codes

('482.0',
 '482.1',
 '482.3',
 '482.40',
 '482.8',
 '482.80',
 '484.1',
 '480.0',
 '480.1',
 '480.2',
 '480.3',
 '480.8',
 '480.9',
 '481.',
 '482.2',
 '482.30',
 '482.31',
 '482.32',
 '482.39',
 '482.4',
 '482.41',
 '482.42',
 '482.49',
 '482.81',
 '482.82',
 '482.83',
 '482.84',
 '482.89',
 '482.9',
 '483.',
 '483.0',
 '483.1',
 '483.8',
 '484.3',
 '484.5',
 '484.6',
 '484.7',
 '484.8',
 '485.',
 '486.',
 '487.0')

In [73]:
pna_codes[0]

'482.0'

In [78]:
resp_codes

('518.81',
 '518.84',
 '799.1',
 '518.81',
 '518.51',
 '518.52',
 '518. 53',
 799.1,
 799,
 799.01)

In [75]:
resp_codes[0]

'518.81'

In [71]:
import pymysql
import getpass

def connect_to_mimic(user="uu-phs"):
    return pymysql.connect(host="35.233.174.193",port=3306,
                       user=user,passwd=getpass.getpass("Enter password for MIMIC2 database"),
                       db='mimic2')

In [72]:
conn = connect_to_mimic()

Enter password for MIMIC2 database········

In [114]:
query = """
SELECT DISTINCT subject_id, 'pneumonia' AS diagnosis
FROM icd9
WHERE code IN ('482.0',
 '482.1',
 '482.3',
 '482.40',
 '482.8',
 '482.80',
 '484.1',
 '480.0',
 '480.1',
 '480.2',
 '480.3',
 '480.8',
 '480.9',
 '481.',
 '482.2',
 '482.30',
 '482.31',
 '482.32',
 '482.39',
 '482.4',
 '482.41',
 '482.42',
 '482.49',
 '482.81',
 '482.82',
 '482.83',
 '482.84',
 '482.89',
 '482.9',
 '483.',
 '483.0',
 '483.1',
 '483.8',
 '484.3',
 '484.5',
 '484.6',
 '484.7',
 '484.8',
 '485.',
 '486.',
 '487.0')
UNION ALL
SELECT DISTINCT subject_id, 'sepsis' AS diagnosis
FROM icd9
WHERE code IN ('038.0',
 '038.1',
 '038.10',
 '038.11',
 '038.12',
 '038.19',
 '038.2',
 '038.3',
 '038.40',
 '038.41',
 '038.42',
 '038.43',
 '038.44',
 '038.49',
 '038.8',
 '038.9',
 '785.52',
 '995.91',
 '995.92')
UNION ALL
SELECT DISTINCT subject_id, 'respiratory' AS diagnosis
FROM icd9
WHERE code IN 
 ('518.81',
 '518.84',
 '799.1',
 '518.81',
 '518.51',
 '518.52',
 '518. 53',
 '799.1',
 '799',
 '799.01')
"""

In [115]:
pts = pd.read_sql(query, conn)

/Users/alecchapman/opt/miniconda3/envs/phs/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [116]:
pts

      subject_id    diagnosis
0            157    pneumonia
1            177    pneumonia
2            472    pneumonia
3            634    pneumonia
4            668    pneumonia
...          ...          ...
2369       32627  respiratory
2370       32667  respiratory
2371       32675  respiratory
2372       32686  respiratory
2373       32763  respiratory

[2374 rows x 2 columns]

In [117]:
pts["diagnosis"].value_counts()

respiratory    1145
sepsis          911
pneumonia       318
Name: diagnosis, dtype: int64

In [127]:
pts.to_csv("../data/dx_subject_sets.csv", index=None)

In [132]:
def load_dx_subject_sets():
    import os
    fp = "../data/dx_subject_sets.csv"
    icd9_subject_sets = {
        "pneumonia": set(),
        "sepsis": set(),
        "respiratory": set()
    }
    with open(fp) as f:
        lines = f.read().splitlines()
    for line in lines[1:]:
        subject, dx = line.split(",")
        icd9_subject_sets[dx].add(int(subject))
    return icd9_subject_sets

### 3.1
Load the dataset using the helper function `load_dx_subject_sets()`. Explore the object that it returns. What class is it? What values are contained in it?

In [133]:
dx_subject_sets = load_dx_subject_sets()

In [134]:
type(dx_subject_sets)

dict

In [135]:
dx_subject_sets.keys()

dict_keys(['pneumonia', 'sepsis', 'respiratory'])

In [136]:
type(dx_subject_sets["pneumonia"])

set

### 3.2
Create a dictionary called `dx_subject_counts` that maps the diagnosis name to the number of patients who have that diagnosis.

In [138]:
dx_subject_counts = {dx: len(pts) for (dx, pts) in dx_subject_sets.items()}

In [139]:
dx_subject_counts

{'pneumonia': 318, 'sepsis': 911, 'respiratory': 1145}

In [140]:
test_dx_subject_counts = ValueTest(expected={'pneumonia': 318, 'sepsis': 911, 'respiratory': 1145})
test_dx_subject_counts.test(dx_subject_counts)

That is correct!

### 3.3
Patients can have multiple co-morbidities. Calculate how many patients have:
- Both pneumonia and sepsis
- Pneumonia, sepsis, and respiratory disease
- Any of the diseases
- Only pneumonia

In [143]:
# Pneumonia and sepsis
len(dx_subject_sets["pneumonia"].intersection(dx_subject_sets["sepsis"]))

137

In [146]:
test_pna_sepsis = FreeTextTest("How many patients have <strong>both</strong> pneumonia <strong>and</strong> sepsis?",
                              answer=137)
test_pna_sepsis

VBox(children=(HTML(value='How many patients have <strong>both</strong> pneumonia <strong>and</strong> sepsis?…

In [147]:
# All 3
len(dx_subject_sets["pneumonia"].intersection(dx_subject_sets["sepsis"]).intersection(dx_subject_sets["respiratory"]))

110

In [148]:
test_pna_sepsis_resp = FreeTextTest("How many patients have <strong>all 3 of</strong> pneumonia, sepsis, and respiratory disease?",
                              answer=110)
test_pna_sepsis_resp

VBox(children=(HTML(value='How many patients have <strong>all 3 of</strong> pneumonia, sepsis, and respiratory…

In [149]:
# Any of the 3
len(dx_subject_sets["pneumonia"].union(dx_subject_sets["sepsis"]).union(dx_subject_sets["respiratory"]))

1671

In [151]:
test_pna_or_sepsis_or_resp = FreeTextTest("How many patients have <strong>any of</strong> pneumonia, sepsis, and respiratory disease?",
                              answer=1671)
test_pna_or_sepsis_or_resp

VBox(children=(HTML(value='How many patients have <strong>any of</strong> pneumonia, sepsis, and respiratory d…

In [153]:
# Only pneumonia
len(dx_subject_sets["pneumonia"].difference(dx_subject_sets["sepsis"].union(dx_subject_sets["respiratory"])))

75

In [154]:
test_pna_only = FreeTextTest("How many patients have <strong>only</strong> pneumonia?",
                              answer=75)
test_pna_only

VBox(children=(HTML(value='How many patients have <strong>only</strong> pneumonia?'), Textarea(value='', place…

### 3.4 
The previous exercise calculated the counts of patients with particular diagnoses. Now let's calculate the **probabilities** of patients having diseases in this dataset.

In [155]:
dx_subject_counts

{'pneumonia': 318, 'sepsis': 911, 'respiratory': 1145}

**a.** Create a variable `dx_subject_probs` which contains the probability of each disease.

In [158]:
dx_subject_probs = {dx: count/1671 for (dx, count) in dx_subject_counts.items()}
dx_subject_probs

{'pneumonia': 0.19030520646319568,
 'sepsis': 0.5451825254338719,
 'respiratory': 0.6852184320766008}

In [161]:
test_dx_subject_probs = ValueTest(expected={'pneumonia': 0.19030520646319568,
 'sepsis': 0.5451825254338719,
 'respiratory': 0.6852184320766008}, show_answer=True)
test_dx_subject_probs.test(dx_subject_probs)

That is correct!

### 3.5 (Advanced)

The remaining exercises will use the notation:

**b.** Calculate:

$$P(Pneumonia \cap Sepsis)$$

$$P(Pneumonia \cup Sepsis)$$

$$P(Pneumonia \cap Sepsis \cap Respiratory)$$

$$P(Pneumonia \cup Sepsis \cup Respiratory)$$

$$P(Pneumonia|Sepsis)$$

$$P(Sepsis|Pneumonia)$$

$$P(\neg Sepsis|Pneumonia)$$